textarea {
    min-height: 400px;
}

/* ------ Email block styles ------ */
.email-block {
    padding: 20px;
    margin-bottom: 10px;
    border: 1px solid black;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr minmax(25px, auto) 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr minmax(25px, auto);
    gap: 5px;
}

.email-block:hover {
    border: 1px solid rgb(122, 121, 121);
    background: rgb(197, 196, 196);
    cursor: pointer;
}

.email-block .block-users {
    grid-column: 1/3;
    /* TODO: fix overflow */
    overflow: hidden;
}

.email-block .users-count {
    grid-column: 3/4;
}

.email-block .block-subject {
    grid-column: 4/10;
    /* TODO: fix overflow */
    overflow: hidden;
}

.email-block .block-timestamp {
    grid-column: 10/12;
}

.email-block .trash-icon {
    grid-column: 12/13;
    text-align: right;
}

.trash-icon img {
    width: 20px;
}

.trash-icon img:hover {
    border-radius: 35%;
    box-shadow: 0px 0px 13px 1px rgb(216, 117, 117), 0 0 20px 1.5px inset rgba(216, 117, 117, 0.59);
    cursor: pointer;
}


  
/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */


/* ------ Open email styles ------ */

/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
